body {
    font-family: Arial, sans-serif;
    background-color: #dfafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: rgb(193, 186, 186);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

select,input,
button {
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    height: 45px;          
    padding: 0 10px;       
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
}


button {
    cursor: pointer;
}

.image-box {
    margin-top: 15px;
}

img {
    width: 100%;
    border-radius: 10px;
}

#errorMessage {
    color: red;
}

#description {
    font-weight: bold;
    margin-top: 10px;
}

/* DARK MODE */
.dark-mode {
    background-color: #ceaaaa;
}

.dark-mode .container {
    background-color: #1f1d1d;
    color: rgb(188, 180, 180);
}

.dark-mode input,
.dark-mode select,
.dark-mode button {
    background-color: #746a6a;
    color: rgb(228, 220, 220);
    border: 1px solid #555;
}
